[submodule "submodules/the-fireworks-company/kyuubi"]
	path = submodules/the-fireworks-company/kyuubi
	url = https://github.com/The-Fireworks-Company/kyuubi
	shallow = true
[submodule "submodules/the-fireworks-company/bitnami_charts"]
	path = submodules/the-fireworks-company/bitnami_charts
	url = https://github.com/The-Fireworks-Company/bitnami_charts
	shallow = true
[submodule "submodules/the-fireworks-company/superset"]
	path = submodules/the-fireworks-company/superset
	url = https://github.com/The-Fireworks-Company/superset
	shallow = true
[submodule "submodules/the-fireworks-company/nessie"]
	path = submodules/the-fireworks-company/nessie
	url = https://github.com/The-Fireworks-Company/nessie
	shallow = true
[submodule "submodules/the-fireworks-company/spark"]
	path = submodules/the-fireworks-company/spark
	url = https://github.com/The-Fireworks-Company/spark
	shallow = true
[submodule "submodules/the-fireworks-company/spark-on-k8s-operator"]
	path = submodules/the-fireworks-company/spark-on-k8s-operator
	url = https://github.com/The-Fireworks-Company/spark-on-k8s-operator
	shallow = true
[submodule "submodules/the-fireworks-company/OpenSearch"]
	path = submodules/the-fireworks-company/OpenSearch
	url = https://github.com/The-Fireworks-Company/OpenSearch
	shallow = true
[submodule "submodules/the-fireworks-company/opensearch-project-helm-charts"]
	path = submodules/the-fireworks-company/opensearch-project-helm-charts
	url = https://github.com/The-Fireworks-Company/opensearch-project-helm-charts
	shallow = true
[submodule "submodules/the-fireworks-company/supabase-kubernetes"]
	path = submodules/the-fireworks-company/supabase-kubernetes
	url = git@github.com:The-Fireworks-Company/supabase-kubernetes.git
    shallow = true
[submodule "submodules/the-fireworks-company/supabase"]
	path = submodules/the-fireworks-company/supabase
	url = git@github.com:The-Fireworks-Company/supabase.git
    shallow = true
[submodule "submodules/the-fireworks-company/quadratic"]
	path = submodules/the-fireworks-company/quadratic
	url = git@github.com:The-Fireworks-Company/quadratic.git
    shallow = true
[submodule "submodules/the-fireworks-company/scryer-prolog"]
	path = submodules/the-fireworks-company/scryer-prolog
	url = git@github.com:The-Fireworks-Company/scryer-prolog.git
    shallow = true
