## Python
/.metals
/.pytest_cache
*.pyc
**__pycache__**



## Note JS packages
**/node_modules/**

## Java
*.jar
**/target
/target 

## Development Logs
logs/**

# Temporary files
**/tmp/**

## Local Secrets ##
# Used to provide API keys etc. to the application locally. Contains sensitive data.
.env.secrets

# Created docker-compose file (contains secrets!)
docker/docker-compose.devcontainer.yml

## Downloaded Software / Plugins ##
submodules/plugins/**

# Mac OS
.DS_Store

# Build Artifacts
**/.next/**

# WIP Hacking
submodules/examples/**