## Python
/.metals
/.pytest_cache
*.pyc
**__pycache__**

## target folder at any level of the project structue
**/target
/target 

## Note JS packages
**/node_modules

## Built java files
*.jar

## Development Logs
logs/*

## Local Secrets ##
# Used to provide API keys etc. to the application locally. Contains sensitive data.
.env.secrets

## Downloaded Software ##

.DS_Store
opt/data/**
.WIP/**
tmp/**