Arpeggio==2.0.2
attrs==24.3.0
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.0
debugpy==1.8.11
dill==0.3.9
google-api-core==2.24.0
google-auth==2.37.0
google-cloud-core==2.4.1
google-cloud-secret-manager==2.22.0
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
grpc-google-iam-v1==0.13.1
grpcio==1.66.2
grpcio-status==1.59.5
idna==3.10
Jinja2==3.1.4
MarkupSafe==3.0.2
parver==0.5
proto-plus==1.25.0
protobuf==4.25.5
pulumi==3.143.0
pulumi_cloudflare==5.45.0
pulumi_command==1.0.1
pulumi_gcp==8.11.0
pulumi_random==4.16.8
pulumi_tailscale==0.17.4
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyYAML==6.0.2
requests==2.32.3
rsa==4.9
semver==2.13.0
six==1.17.0
typing_extensions==4.12.2
urllib3==2.2.3
