# Settings for AWS S3
# These mock values are configured to work with Localstack
AWS_ACCESS_KEY_ID='dev_admin'
AWS_SECRET_ACCESS_KEY='dev_admin'
AWS_DEFAULT_REGION='us-west-2'
AWS_ENDPOINT_URL='minio.default.svc.cluster.local:9000'
S3_LOG_BUCKET='logs'
S3_ARTIFACT_BUCKET='artifacts'
S3_DATA_DIR_BUCKET='data'